Port {{ security_ssh_port }}
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AllowUsers {{ security_ssh_allow_users | join(' ') }}
X11Forwarding no
AllowAgentForwarding no
MaxAuthTries 3
