Unattended-Upgrade::Origins-Pattern { "origin=Debian,codename=${distro_codename},label=Debian-Security"; };
Unattended-Upgrade::Automatic-Reboot "{{ unattended_reboot | ternary('true', 'false') }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_reboot_time }}";

