RESTIC_REPOSITORY={{ restic_repository }}
RESTIC_PASSWORD={{ openclaw_secrets.restic_password }}
{% if openclaw_secrets.restic_environment | default('') | length > 0 %}{{ openclaw_secrets.restic_environment }}
{% endif %}

